@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

.save-btn {
  padding: 10px 10px;
  background: #333;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
}

.save-btn:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.card {
  position: relative;
  background: #f4f4f4;
  border-radius: 7px;
  padding: 7px 20px;
  margin-top: 20px;
  width: 320px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#save-colors {
  transition-duration: 300ms;
  background-color: tomato;
}
#save-colors:hover {
  background-color: teal;
  color: #fff;
  border: 1px solid transparent;
}

.form-input {
  margin-bottom: 20px;
  font-weight: 300;
}

label {
  margin-right: 10px;
  font-weight: bold;
}
